.action-room {
    padding: 10px;
    background-color: #ddd;
    position: relative;
    display: flex;
    align-items: center;
}

.action-room .action-title {
    flex-grow: 1;
    text-align: right;
    padding-right: 1rem;
}

.action-slot {
    display: inline-block;
    margin: 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 25px;
    background-color: #fff;
}

.action-slot.lock {
    background-color: #555;
    color: white;
}

.trick-dir-container {
    display: flex;
    align-items: center;
}

.trick-dir-container > div {
    width: 100%;
    text-align: center;
    font-size: 2rem;
}
